*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 50px 1fr ;
    overflow: hidden;
}

header{
    background-color: #FDF3EC;
    font-size: 1.5rem;
    display: grid;
    z-index: 2;
   
}

main{
   height: 100%;
   width: 100%;
   background-color: #FFC1CC;
  
}

.padaria{

    position: absolute;
    left: 6%;
    color: #6B6464;
    font-family: 'Sigmar One', cursive;
    font-weight: 200;
    font-size: 1.2rem;
    top: 0.6em;

}



.title{
    position: absolute;
    right: 10%;
    display: flex;
    gap: 30px;
    color: #6B6464;
    font-family: 'Sigmar One', cursive;
    font-weight: 200;
    font-size: 1rem;
    top: 0.6em;
    
}

.meio{
    width: 100%;
    height: 100%;
}
.meioimg{
    position: absolute;
    height: 78vh;
    width: 33vw;
    left: 35%;
    top: 9.8rem;
    
}
.centro{
    height: 100%;
    width: 100%;
    filter: drop-shadow(10px 10px 4px rgba(255, 172, 187, 0.6));
}

.cupcakes{

    width: 100% ;
    height: 100%;
}

.cup1{
    position: absolute;
    left: 15.5%;
    height: 19vh;
    width: 29vh;
   top: 19rem;
}

.cup2{
    position: absolute;
    left: 10%;
    height: 35vh;
    width: 20vw;
   top: 9rem;
   transform: rotate(-4.5deg);
}

.cup3{
    position: absolute;
    left: 9%;
    height: 43.5vh;
    width: 29.5vw;
   top: 1.5rem;
   transform: rotate(-5deg);
}

.cup4{
    position: absolute;
    left: 37%;
    height: 20vh;
    width: 15vw;
   top: -0.5rem;
  
}

.cup5{

    position: absolute;
    left: 59%;
    height: 29vh;
    width: 14vw;
    top: 0.8rem;
   transform: rotate(8deg);
}

.cup6{

    position: absolute;
    left: 60%;
    height: 38vh;
    width: 20vw;
    top: 8rem;
   transform: rotate(9deg);
}

.cup7{

    position: absolute;
    left: 61.5%;
    height: 26vh;
    width: 16vw;
    top: 18rem;
   transform: rotate(2deg);
}

.escrita__meio{
    font-weight: 500;
    padding: 16px;
    position: absolute;
    left: 42%;
    top: 15.5rem;
    font-size: 80px;
    padding: 600;
    color: #6B6464;
    font-family: 'Spirax', cursive;
    text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.09);
}

p{
    position: absolute;
    width: 10rem;
    height: 4em;
    left: 46%;
    top: 36rem;
    background: #FFC1CC;
    border-radius: 78px;
    text-align: center;
    line-height: 4em;
    font-family: 'Spicy Rice', cursive;
    color: #FDF3EC;
    font-weight: 400;
    text-shadow: 8px 8px 4px rgba(255, 72, 72, 0.25);
   

    
}

.estrela2{
    width: 5em;
    height: 5em;
    position: absolute;
    left: 51%;
    top: 7.6rem;
   
}

.estrela1{
    width: 6em;
    height: 6em;
    position: absolute;
    left: 36%;
    top: 10.6rem;
   
}
