*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 50px 1fr ;
}

header{
    background-color: #FDF3EC;
    font-size: 1.5rem;
    display: grid;
    z-index: 2;
   
}

main{
   height: 100%;
   width: 100%;
   background-color: #FFC1CC;
  
}




.padaria{
position: absolute;
width: 208px;
height: 43px;
left: 100px;
top: 16px;
word-spacing: 30px;
}

.produtos{

position: absolute;
width: 130px;
height: 36px;
left: 700px;
top: 16px;
word-spacing: 30px;
}

.contato{
    
position: absolute;
width: 112px;
height: 36px;
left: 900px;
top: 16px;
word-spacing: 30px;
}

.home{
    
 position: absolute;
width: 69px;
height: 36px;
left: 1000px;
top: 16px;
word-spacing: 30px;

}

.quem{
    position: absolute;
    width: 156px;
    height: 36px;
    left: 1100px;
    top: 16px;
    word-spacing: 10px;
}

.lojas{
    position: absolute;
    width: 74px;
    height: 36px;
    left: 1300px;
    right: 1000px;
    top: 19px;
    word-spacing: 30px;
}

.meio{
    width: 100%;
    height: 100%;
}
.meioimg{
    position: absolute;
    height: 78vh;
    width: 33vw;
    left: 35%;
    top: 9.8rem;
}
.centro{
    height: 100%;
    width: 100%;
}

.cupcakes{

    width: 100% ;
    height: 100%;
}

.cup1{
    position: absolute;
    left: 15.5%;
    height: 18vh;
    width: 28vh;
   top: 18.4rem;
}

.cup2{
    position: absolute;
    left: 10%;
    height: 35vh;
    width: 20vw;
   top: 9rem;
   transform: rotate(-4.5deg);
}

.cup3{
    position: absolute;
    left: 9%;
    height: 43.5vh;
    width: 29.5vw;
   top: 1.5rem;
   transform: rotate(-5deg);
}

.cup4{
    position: absolute;
    left: 37%;
    height: 20vh;
    width: 15vw;
   top: -0.5rem;
  
}

.cup5{

    position: absolute;
    left: 60%;
    height: 20vh;
    width: 15vw;
   top: 3.8rem;
}
